html, body {
    background: white;
    font-family: 'Lato', sans-serif;
}

.content {
    background: #efefef;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#belka {
    min-height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid #efefef;
}

.polowka {
    text-align: center;

    min-height: 135px;
    position: center;
    margin: auto;
}

.header_text {
    font-size: medium;
    margin: auto;
    position: center;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
}

.img_logo{
    position: absolute;
    margin: auto;
    max-height: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pytanie {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.przycisk {
    text-align: center;
    margin: 25px;
}

.link {
    color: white;
}

.link:visited {
    color: white;
}

.link:hover {
    color: white;
    text-decoration: none;
}

.link:active {
    color: white;
}

.footer {
    height: 25px;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
}

.form-check-label{
    padding: 3px;
}

.zgoda{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#regulamin{
    text-align: justify;
}

.naglowek_regulamin{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.checkbox_regulamin{
    padding-left: 5px;
    margin-left: 10px;

}

.input_mail{
    margin-left: auto;
    margin-right: auto;
}

#strona_startowa_text {
    text-align: justify;
}

@media screen and (min-width: 992px) {
    .poloka_prawa{
        border-right: 1px solid #efefef;;
    }
}

@media screen and (max-width: 991px) {
    .poloka_prawa{
        border-bottom: 1px solid #efefef;;
    }
}
